# Crime Articles Recommendation System

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [29]:
df = pd.read_csv(r"C:\Users\athar\Desktop\vs code projecs\projects\news articles recommendation system\Crime_Articles.csv")

## Basic EDA

In [3]:
df.shape

(81096, 8)

In [4]:
df.head()

,heading,content_summary,article_link,img_link,month,date,time,Year
0,2 society staffers thrash resident in Greater...,Two maintenance staffers of a highrise reside...,https://timesofindia.indiatimes.com/city/noida...,https://static.toiimg.com/thumb/imgsize-123456...,Oct,14,06:37,2022
1,2 society staffers thrash resident in Greater...,Two maintenance staffers of a highrise reside...,https://timesofindia.indiatimes.com/city/noida...,https://static.toiimg.com/thumb/imgsize-123456...,Oct,14,06:37,2022
2,Delhi: 2 steal jewels worth Rs 7 lakh from te...,A man and a woman allegedly stole jewels wort...,https://timesofindia.indiatimes.com/city/delhi...,https://static.toiimg.com/thumb/imgsize-123456...,Oct,12,11:44,2022
3,2 society staffers thrash resident in Greater...,Two maintenance staffers of a highrise reside...,https://timesofindia.indiatimes.com/city/noida...,https://static.toiimg.com/thumb/imgsize-123456...,Oct,14,06:37,2022
4,Delhi: 2 steal jewels worth Rs 7 lakh from te...,A man and a woman allegedly stole jewels wort...,https://timesofindia.indiatimes.com/city/delhi...,https://static.toiimg.com/thumb/imgsize-123456...,Oct,12,11:44,2022

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81096 entries, 0 to 81095
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   heading          81096 non-null  object
 1   content_summary  81096 non-null  object
 2   article_link     81096 non-null  object
 3   img_link         81096 non-null  object
 4   month            81096 non-null  object
 5   date             81096 non-null  int64
 6   time             81096 non-null  object
 7   Year             81096 non-null  object
dtypes: int64(1), object(7)
memory usage: 4.9+ MB

In [25]:
df.isna().sum()

heading            0
content_summary    0
article_link       0
img_link           0
month              0
date               0
time               0
Year               0
dtype: int64

In [26]:
df.columns

Index(['heading', 'content_summary', 'article_link', 'img_link', 'month',
       'date', 'time', 'Year'],
      dtype='object')

### Only the "heading" and "content_summary" columns seem to be useful for generating tags

In [51]:
selected_features = df[["heading", "content_summary"]]

In [52]:
selected_features.head()

,heading,content_summary
0,2 society staffers thrash resident in Greater...,Two maintenance staffers of a highrise reside...
1,2 society staffers thrash resident in Greater...,Two maintenance staffers of a highrise reside...
2,Delhi: 2 steal jewels worth Rs 7 lakh from te...,A man and a woman allegedly stole jewels wort...
3,2 society staffers thrash resident in Greater...,Two maintenance staffers of a highrise reside...
4,Delhi: 2 steal jewels worth Rs 7 lakh from te...,A man and a woman allegedly stole jewels wort...

In [53]:
selected_features.shape

(81096, 2)

### Removing the duplicate articles

In [54]:
selected_features = selected_features.drop_duplicates()

In [55]:
selected_features.shape

(6586, 2)

In [56]:
selected_features = selected_features.reset_index()

In [57]:
selected_features.drop("index", inplace=True, axis=1)

In [58]:
selected_features.head()

,heading,content_summary
0,2 society staffers thrash resident in Greater...,Two maintenance staffers of a highrise reside...
1,Delhi: 2 steal jewels worth Rs 7 lakh from te...,A man and a woman allegedly stole jewels wort...
2,Chennai: Three held for performing stunts in ...,A day after seven youth performed stunts in a...
3,Man held for stabbing wife in Chennai,Ayanavaram police arrested a 20-year-old man ...
4,Madhya Pradesh man lays electric wire to kill...,A man in Madhya Pradesh's Betul district laid...

## Text Preprocessing

In [64]:
def strip(text : str):
    text = text.lstrip()
    text = text.rstrip()
    return text

In [65]:
selected_features["heading"] = selected_features["heading"].apply(strip)
selected_features["content_summary"] = selected_features["content_summary"].apply(strip)

In [67]:
selected_features["tags"] = selected_features["heading"] + " " + selected_features["content_summary"]

In [68]:
selected_features.head()

,heading,content_summary,tags
0,2 society staffers thrash resident in Greater ...,Two maintenance staffers of a highrise residen...,2 society staffers thrash resident in Greater ...
1,Delhi: 2 steal jewels worth Rs 7 lakh from tem...,A man and a woman allegedly stole jewels worth...,Delhi: 2 steal jewels worth Rs 7 lakh from tem...
2,Chennai: Three held for performing stunts in t...,A day after seven youth performed stunts in a ...,Chennai: Three held for performing stunts in t...
3,Man held for stabbing wife in Chennai,Ayanavaram police arrested a 20-year-old man o...,Man held for stabbing wife in Chennai Ayanavar...
4,Madhya Pradesh man lays electric wire to kill ...,A man in Madhya Pradesh's Betul district laid ...,Madhya Pradesh man lays electric wire to kill ...

In [77]:
import string

In [79]:
def fun(text : str):
    text = text.translate(str.maketrans('','',string.punctuation))
    return text

In [80]:
selected_features["tags"] = selected_features["tags"].apply(fun)

In [82]:
selected_features["tags"][0]

'2 society staffers thrash resident in Greater Noida held Two maintenance staffers of a highrise residential society in Greater Noida West have been arrested for allegedly thrashing a 59yearold resident with sticks on Wednesday night'

In [84]:
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

In [85]:
stemmer = PorterStemmer()

In [93]:
def fun(text : str):
    temp = ""
    words = word_tokenize(text)
    for word in words:
        temp += stemmer.stem(word) + " "
    return temp.rstrip()

In [89]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\athar\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [95]:
selected_features["tags"] = selected_features["tags"].apply(fun)

In [96]:
selected_features.head()

,heading,content_summary,tags
0,2 society staffers thrash resident in Greater ...,Two maintenance staffers of a highrise residen...,2 societi staffer thrash resid in greater noid...
1,Delhi: 2 steal jewels worth Rs 7 lakh from tem...,A man and a woman allegedly stole jewels worth...,delhi 2 steal jewel worth rs 7 lakh from templ...
2,Chennai: Three held for performing stunts in t...,A day after seven youth performed stunts in a ...,chennai three held for perform stunt in train ...
3,Man held for stabbing wife in Chennai,Ayanavaram police arrested a 20-year-old man o...,man held for stab wife in chennai ayanavaram p...
4,Madhya Pradesh man lays electric wire to kill ...,A man in Madhya Pradesh's Betul district laid ...,madhya pradesh man lay electr wire to kill wif...

## Vectorizing the tags

In [97]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [99]:
vectorizer = TfidfVectorizer(stop_words="english")

In [109]:
vectors = vectorizer.fit_transform(selected_features["tags"]).toarray()

In [110]:
vectors

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [111]:
vectorizer.get_feature_names()

['0000',
 '10',
 '100',
 '1000',
 '10000',
 '1000kg',
 '100130',
 '1002',
 '100200',
 '100kg',
 '100km',
 '100m',
 '100plu',
 '101',
 '1010pm',
 '1012',
 '1015',
 '1019',
 '101st',
 '102',
 '1030am',
 '1030pm',
 '10349',
 '103rd',
 '104',
 '1040am',
 '104crore',
 '105',
 '1050',
 '10500',
 '105000',
 '1055pm',
 '106',
 '1060',
 '1075',
 '108',
 '109',
 '1098',
 '10a',
 '10am',
 '10day',
 '10ftx10ft',
 '10k',
 '10kg',
 '10km',
 '10monthold',
 '10pm',
 '10year',
 '10yearold',
 '10yrold',
 '11',
 '110',
 '1100',
 '11000',
 '11000r',
 '1106',
 '11087',
 '110g',
 '111',
 '1113',
 '111kg',
 '112',
 '113',
 '1130',
 '1135',
 '114',
 '1142',
 '1149',
 '115',
 '1154',
 '115pm',
 '116',
 '1165kg',
 '117',
 '1176',
 '118',
 '119',
 '11accus',
 '11am',
 '11kg',
 '11monthold',
 '11pm',
 '11yearold',
 '11yrold',
 '12',
 '120',
 '1200',
 '12000',
 '120000',
 '1200crore',
 '120b',
 '121',
 '1225',
 '123',
 '1230',
 '1230am',
 '1230pm',
 '124',
 '1245',
 '1246',
 '125',
 '1250',
 '12537',
 '125kg',
 '125page',
 '126',
 '127',
 '12720',
 '128',
 '1285',
 '12hour',
 '12kg',
 '12minut',
 '12pm',
 '12th',
 '12year',
 '12yeargirl',
 '12yearold',
 '12yearson',
 '13',
 '130',
 '1300',
 '13000',
 '130am',
 '130pm',
 '1315',
 '132',
 '1328kg',
 '13326',
 '134',
 '135',
 '1350',
 '137',
 '13700',
 '137crore',
 '138',
 '13800',
 '139',
 '13962',
 '13day',
 '13kg',
 '13th',
 '13year',
 '13yearold',
 '13yearsold',
 '13yrold',
 '14',
 '140',
 '1400',
 '14000',
 '140lakh',
 '141',
 '142',
 '1438',
 '144',
 '145',
 '1450',
 '1459',
 '146',
 '148',
 '148000',
 '14day',
 '14dayjudici',
 '14lakh',
 '14month',
 '14year',
 '14yearold',
 '15',
 '150',
 '1500',
 '15000',
 '1500kg',
 '150km',
 '150lakh',
 '150m',
 '150page',
 '151',
 '1520',
 '153a',
 '153kg',
 '1545',
 '155',
 '1567',
 '158',
 '1587',
 '1594',
 '15dayold',
 '15footdeep',
 '15kg',
 '15lakh',
 '15litr',
 '15member',
 '15th',
 '15year',
 '15yearold',
 '16',
 '160',
 '16000',
 '160000',
 '162',
 '163',
 '164',
 '16400',
 '165',
 '1655',
 '1656',
 '1657',
 '166',
 '168',
 '1697',
 '16kg',
 '16yearboy',
 '16yearold',
 '17',
 '170',
 '17000',
 '170crore',
 '171',
 '172',
 '1726',
 '173',
 '1730',
 '17313',
 '1739',
 '1746',
 '175',
 '175000',
 '176',
 '179',
 '17kg',
 '17th',
 '17thfloor',
 '17tola',
 '17year',
 '17yearold',
 '18',
 '180',
 '1800',
 '18000',
 '1800kg',
 '1800km',
 '181',
 '1817',
 '182',
 '1825',
 '18300',
 '184',
 '1841',
 '1849',
 '185',
 '1850',
 '189',
 '1894',
 '18crore',
 '18day',
 '18kg',
 '18km',
 '18month',
 '18monthold',
 '18year',
 '18yearold',
 '19',
 '190',
 '1900',
 '19000',
 '1900km',
 '1900kmlong',
 '193',
 '194',
 '196',
 '1975',
 '198',
 '1982',
 '1983',
 '1984',
 '1985',
 '1989',
 '199',
 '1990',
 '1992',
 '1993',
 '1996',
 '1997',
 '1998',
 '1999',
 '19kg',
 '19th',
 '19thane',
 '19year',
 '19yearold',
 '1am',
 '1bhk',
 '1kg',
 '1l',
 '1lakh',
 '1pm',
 '1st',
 '1year',
 '1yearold',
 '20',
 '200',
 '2000',
 '20000',
 '2000kg',
 '2001',
 '2001dhaner',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '200910',
 '2009batch',
 '200kg',
 '2010',
 '2010her',
 '2011',
 '2012',
 '2013',
 '2014',
 '2014releas',
 '2015',
 '2016',
 '2016altogeth',
 '2016he',
 '2017',
 '2018',
 '201819',
 '2018he',
 '2019',
 '201920',
 '20192021',
 '201gm',
 '2020',
 '202021',
 '2021',
 '2022',
 '2023',
 '2025',
 '204',
 '205',
 '206',
 '207',
 '208',
 '209',
 '20crore',
 '20footlong',
 '20kg',
 '20km',
 '20monthold',
 '20year',
 '20yearold',
 '20yrold',
 '21',
 '210',
 '21000',
 '210g',
 '211',
 '212',
 '2122',
 '2131kg',
 '215',
 '217',
 '218',
 '21day',
 '21kg',
 '21member',
 '21seater',
 '21yearold',
 '22',
 '2200',
 '22000',
 '2205',
 '221',
 '2225',
 '224',
 '225',
 '226kg',
 '227',
 '229page',
 '22km',
 '22year',
 '22yearold',
 '23',
 '230',
 '23000',
 '230am',
 '230pm',
 '233',
 '2369',
 '238',
 '2382',
 '2386',
 '239',
 '23and',
 '23km',
 '23monthold',
 '23year',
 '23yearold',
 '23yearwoman',
 '24',
 '240',
 '24000',
 '2406',
 '240page',
 '243',
 '24300',
 '2435',
 '244636',
 '245',
 '24500',
 '2453',
 '2455',
 '246',
 '247',
 '248',
 '2488',
 '24crore',
 '24hourlong',
 '24l',
 '24pargana',
 '24the',
 '24x7',
 '24year',
 '24yearold',
 '25',
 '250',
 '2500',
 '25000',
 '2500km',
 '250g',
 '250kg',
 '254',
 '257',
 '258',
 '25a',
 '25cr',
 '25foot',
 '25ft',
 '25k',
 '25kg',
 '25km',
 '25lakh',
 '25year',
 '25yearold',
 '26',
 '260',
 '261',
 '2611',
 '2611like',
 '2611style',
 '264',
 '265kg',
 '269',
 '26crore',
 '26kg',
 '26year',
 '26yearol',
 '26yearold',
 '26yearoldpriv',
 '27',
 '27000',
 '2729',
 '275',
 '278',
 '2783',
 '279',
 '27dayold',
 '27year',
 '27yearold',
 '28',
 '280',
 '283',
 '283kg',
 '284',
 '285',
 '285km',
 '287',
 '288',
 '2883',
 '28year',
 '28yearold',
 '29',
 '29000',
 '292nd',
 '293',
 '294',
 '2940',
 '295',
 '296',
 '2988',
 '29yearold',
 '2am',
 '2crore',
 '2kg',
 '2km',
 '2nd',
 '2pm',
 '2wheeler',
 '2year',
 '2yearold',
 '2yrold',
 '30',
 '300',
 '3000',
 '30000',
 '3000kmlong',
 '3000sqft',
 '301',
 '302',
 '3022',
 '304',
 '307',
 '308',
 '30a',
 '30ft',
 '30hour',
 '30km',
 '30l',
 '30year',
 '30yearold',
 '31',
 '310',
 '310kg',
 '311',
 '3110',
 '312',
 '3131',
 '314',
 '319918',
 '31998kg',
 '31daysold',
 '31year',
 '31yearold',
 '32',
 '32000',
 '322',
 '323',
 '323g',
 '325',
 '32500',
 '3256',
 '3269',
 '328',
 '32kg',
 '32mm',
 '32year',
 '32yearold',
 '33',
 '330',
 '33000',
 '330gram',
 '330pm',
 '339',
 '33page',
 '33yearold',
 '34',
 '34000',
 '343',
 '345',
 '3458',
 '345kg',
 '346page',
 '347',
 '347crore',
 '34yearold',
 '35',
 '350',
 '3500',
 '35000',
 '350kg',
 '350pm',
 '354a',
 '355',
 '35crore',
 '35kg',
 '35year',
 '35yearold',
 '35yearwoman',
 '36',
 '360seater',
 '363',
 '367',
 '368',
 '36crore',
 '36year',
 '36yearold',
 '37',
 '370',
 '37000',
 '3700crore',
 '372',
 '376',
 '379',
 '37dayold',
 '37yearold',
 '38',
 '380',
 '38000',
 '381',
 '385',
 '386kg',
 '387',
 '38dayold',
 '38year',
 '38yearold',
 '39',
 '390',
 '39000',
 '394',
 '397',
 '398',
 '39yearold',
 '3am',
 '3crore',
 '3day',
 '3gm',
 '3km',
 '3lakh',
 '3month',
 '3monthold',
 '3pm',
 '3rd',
 '3year',
 '3yearold',
 '3yrold',
 '40',
 '400',
 '4000',
 '40000',
 '4000crore',
 '400feet',
 '400kg',
 '400squarefoot',
 '404',
 '405',
 '407',
 '4086',
 '40feet',
 '40hour',
 '40kg',
 '40km',
 '40l',
 '40yearold',
 '41',
 '412',
 '4121',
 '4150',
 '416',
 '419',
 '41year',
 '41yearold',
 '42',
 '420',
 '4200',
 '4239',
 '425',
 '425crore',
 '426',
 '4267',
 '42yearold',
 '43',
 '430',
 '43000',
 '430am',
 '430pm',
 '435',
 '4350',
 '439',
 '43kg',
 '43year',
 '43yearold',
 '44',
 '440',
 '44000',
 '440000',
 '444',
 '445',
 '44yearold',
 '45',
 '450',
 '4500',
 '45000',
 '450kilometr',
 '450km',
 '453',
 '455',
 '457',
 '45kg',
 '45km',
 '45year',
 '45yearold',
 '46',
 '46000',
 '4621',
 '465',
 '46kg',
 '46yearold',
 '47',
 '47000',
 '479',
 '47yearold',
 '48',
 '480',
 '48000',
 '483',
 '48yearold',
 '49',
 '49000',
 '49499',
 '49500',
 '498a',
 '49th',
 '49yearold',
 '4am',
 '4day',
 '4foot',
 '4kg',
 '4l',
 '4lakh',
 '4month',
 '4monthold',
 '4pm',
 '4th',
 '4yearold',
 '50',
 '500',
 '5000',
 '50000',
 '500010000',
 '5000km',
 '500g',
 '500kg',
 '500m',
 '505',
 '5057',
 '506kg',
 '507',
 '509',
 '50kg',
 '50litr',
 '50yearold',
 '51',
 '510am',
 '51yearold',
 '52',
 '52000',
 '522',
 '5232',
 '524',
 '524l',
 '525',
 '526',
 '526l',
 '529',
 '52yearold',
 '53',
 '530',
 '530am',
 '530pm',
 '532kg',
 '533',
 '534',
 '535gm',
 '53900',
 '53kg',
 '53yearold',
 '54',
 '54000',
 '542crore',
 '543',
 '54gm',
 '54year',
 '54yearold',
 '55',
 '550',
 '5500',
 '55000',
 '550000',
 '55kg',
 '55l',
 '55lakh',
 '55year',
 '55yearold',
 '56',
 '56000',
 '562111',
 '565',
 '5661',
 '567',
 '56kg',
 '56yearold',
 '57',
 '57000',
 '574',
 '5749',
 '577',
 '57yearold',
 '58',
 '582',
 '5873',
 '58yearold',
 '58yearoldman',
 '59',
 '59l',
 '59yearold',
 '59yrold',
 '5am',
 '5foot',
 '5g',
 '5kg',
 '5km',
 '5monthold',
 '5pm',
 '5star',
 '5th',
 '5year',
 '5yearold',
 '5yrold',
 '60',
 '600',
 '6000',
 '60000',
 '608',
 '60g',
 '60km',
 '60year',
 '60yearold',
 '60yearsold',
 '61',
 '61yearold',
 '62',
 '62000',
 '622am',
 '625',
 '627',
 '628',
 '62yearold',
 '62yearoldretir',
 '63',
 '630',
 '630am',
 '630pm',
 '635pm',
 '63year',
 '63yearold',
 '64',
 '64000',
 '640pm',
 '6430',
 '64400',
 '646',
 '64656',
 '64l',
 '64year',
 '64yearold',
 '65',
 '650',
 '6500',
 '65000',
 '650gm',
 '657',
 '65km',
 '65yearold',
 '66',
 '66yearold',
 '67',
 '671',
 '675km',
 '67yearold',
 '68',
 '680',
 '6874',
 '68kg',
 '68yearold',
 '69',
 '69000',
 '6960kg',
 '69yearold',
 '6am',
 '6ft',
 '6month',
 '6monthold',
 '6pm',
 '6th',
 '6year',
 '6yearold',
 '6yrold',
 '70',
 '700',
 '7000',
 '70000',
 '700gm',
 '705',
 '707',
 '70km',
 '70ml',
 '70yearold',
 '71',
 '71000',
 '710pm',
 '715',
 '71yearold',
 '72',
 '720',
 '72000',
 '724840',
 '72500',
 '72727',
 '72yearold',
 '73',
 '730am',
 '730pm',
 '735',
 '73yearold',
 '74',
 '745am',
 '746',
 '74gm',
 '74kg',
 '74yearold',
 '75',
 '750',
 '7500',
 '75000',
 '75kg',
 '75km',
 '75l',
 '75yearold',
 '76',
 '762',
 '762page',
 '767',
 '76yearold',
 '77',
 '779',
 '77yearold',
 '78',
 '78yearold',
 '79',
 '790',
 '795',
 '7a',
 '7day',
 '7gm',
 '7member',
 '7pm',
 '7th',
 '7year',
 '7yearold',
 '80',
 '800',
 '8000',
 '80000',
 '802',
 '8022',
 '80800',
 '80km',
 '80yearold',
 '81',
 '815pm',
 '816',
 '81yearold',
 '82',
 '82000',
 '8223',
 '82yearold',
 '83',
 '83000',
 '830am',
 '830pm',
 '83yearold',
 '84',
 '84yearold',
 '85',
 '85yearold',
 '86',
 '86000',
 '86yearold',
 '87',
 '872',
 '879',
 '87yearold',
 '88',
 '88yearold',
 '89',
 '892',
 '8acr',
 '8am',
 '8b',
 '8kg',
 '8month',
 '8th',
 '8year',
 '8yearold',
 '8yrold',
 '90',
 ...]

## Calculating cosine similarity between the articles

In [112]:
from sklearn.metrics.pairwise import cosine_similarity

In [113]:
similarity = cosine_similarity(vectors)

In [114]:
similarity

array([[1.        , 0.00533196, 0.01232584, ..., 0.        , 0.        ,
        0.        ],
       [0.00533196, 1.        , 0.03812153, ..., 0.02115182, 0.00634171,
        0.03425904],
       [0.01232584, 0.03812153, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.02115182, 0.        , ..., 1.        , 0.00769421,
        0.00303502],
       [0.        , 0.00634171, 0.        , ..., 0.00769421, 1.        ,
        0.05659097],
       [0.        , 0.03425904, 0.        , ..., 0.00303502, 0.05659097,
        1.        ]])

In [115]:
similarity.shape

(6586, 6586)

In [116]:
similarity[0]

array([1.        , 0.00533196, 0.01232584, ..., 0.        , 0.        ,
       0.        ])

## Building the recommendation system

In [120]:
def recommend(article_heading):
  # getting the index of the article in the dataframe
  article_index = selected_features[selected_features["heading"] == article_heading].index[0]

  # getting the distance vector for the article
  distances = similarity[article_index]

  # enumerating the distances so that the indices are not lost
  # sorting the list according to the distances and keeping the top 5 articles
  articles_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x : x[1])[1:6]

  # printing the list of the top 5 similar articles
  for article in articles_list:
    print(selected_features.iloc[article[0]]["heading"])

In [137]:
recommend("Delhi: 2 steal jewels worth Rs 7 lakh from temple in Pitampura, caught on CCTV")

Man poses as jeweller to get hands on Rs 21 lakh gold in Mumbai, arrested
Thane: Robber loots jeweller of gold worth Rs 4 lakh
Woman held for duping jeweller in Mumbai
Mumbai: Two held for stealing donation box containing Rs 2 lakh cash from temple
Four rob Rs 40 lakh booty from jeweller's staff in Mumbai